<main [ngSwitch]="viewStates">

	<!--Product List Section-->
	<div *ngSwitchCase="'List'">
		<input type='text'
			   style='padding:8px;margin:15px auto;width:30%;'
			   placeholder='Search for..'
			   (keyup)='updateFilter($event)' />
		<a style="margin-left:3%" (click)="addView(row)"><mat-icon color="primary">add_circle</mat-icon></a>
		<small>{{loadInfo}}</small>
		<div class="skeleta-container mat-elevation-z8">
			<button mat-button (click)="loadProducts()" color="primary">
				<b>{{pageTitle}}</b>
			</button>
			<mat-progress-bar *ngIf="!isLoaded" mode="indeterminate"></mat-progress-bar>
			<ngx-datatable #productsTable
						   class='material expandable'
						   [rows]='products'
						   [columnMode]="'force'"
						   [headerHeight]="30"
						   [footerHeight]="30"
						   [rowHeight]="'auto'"
						   [limit]="15"
						   [selected]="selected"
						   [selectionType]="'multi'"
						   (select)='onSelect($event)'>

				<!-- Row Detail DropDown Template -->
				<ngx-datatable-row-detail [rowHeight]="auto">
					<ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
						<div class="col-md-2">
							<img class="toolbarImage" [src]="row.imageUrl" alt="Image not found">
						</div>
						<div class="col-md-5">
							<ul>
								<li>Name: {{row.name}}</li>
								<li>Price: {{row.price | currency}}</li>
								<li>
									Description:
									<textarea readonly matInput placeholder="Description" matTextareaAutosize matAutosizeMinRows="1"
											  matAutosizeMaxRows="5">{{row.description}}</textarea>
								</li>
								<li>
									<sk-star [rating]="row.rating"
											 (ratingClicked)="onRatingClicked($event)">
									</sk-star>
								</li>
							</ul>
						</div>
					</ng-template>
				</ngx-datatable-row-detail>
				<!-- Column Templates -->
				<ngx-datatable-column [width]="50"
									  [resizeable]="false"
									  [sortable]="false"
									  [draggable]="false"
									  [canAutoResize]="false">
					<ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
						<mat-icon *ngIf="!expanded" color="primary" class="md-24" (click)="toggleExpandRow(row)">arrow_drop_down</mat-icon>
						<mat-icon *ngIf="expanded" color="primary" class="md-24" (click)="toggleExpandRow(row)">arrow_drop_up</mat-icon>
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column name="Id">
					<ng-template let-value="value" ngx-datatable-cell-template>
						<strong>{{value}}</strong>
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column name="Name">
					<ng-template let-value="value" ngx-datatable-cell-template>
						<strong>{{value}}</strong>
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column name="Code">
					<ng-template let-value="value" ngx-datatable-cell-template>
						<strong>{{value}}</strong>
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column name="Price">
					<ng-template let-value="value" ngx-datatable-cell-template>
						<strong>{{value | currency}}</strong>
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column name="">
					<ng-template let-row="row" ngx-datatable-cell-template>
						<a (click)="editDialog(row)"><mat-icon color="default">edit</mat-icon></a>
						<a (click)="deleteDialog(row)"><mat-icon color="warn">delete</mat-icon></a>
					</ng-template>
				</ngx-datatable-column>
			</ngx-datatable>
		</div>
	</div>

	<div *ngSwitchCase="'Add'">
		<mat-card color="primary" class="skeleta-container mat-elevation-z10">
			<mat-grid-list cols="4" rowHeight="1:1">
				<mat-grid-tile colspan='1'>
					<img class="toolbarImage" [src]="product.imageUrl" alt="Image not found">
				</mat-grid-tile>
				<mat-grid-tile colspan='3'>
					<form (ngSubmit)="addProduct()" #productForm="ngForm">
						<mat-card-content>
							<mat-form-field>
								<input required maxlength="100" [(ngModel)]="product.name" matInput placeholder="Name" name="name">
								<button mat-button *ngIf="product.name" matSuffix mat-icon-button aria-label="Clear" (click)="product.name=''">
									<mat-icon>close</mat-icon>
								</button>
							</mat-form-field>
							<mat-form-field>
								<input required maxlength="9" [(ngModel)]="product.code" matInput placeholder="Code" name="code">
								<button mat-button *ngIf="product.code" matSuffix mat-icon-button aria-label="Clear" (click)="product.code=''">
									<mat-icon>close</mat-icon>
								</button>
							</mat-form-field>
							<mat-form-field>
								<input required maxlength="6" [(ngModel)]="product.price" matInput placeholder="Price" type="number" name="price">
								<button mat-button *ngIf="product.price" matSuffix mat-icon-button aria-label="Clear" (click)="product.price=''">
									<mat-icon>close</mat-icon>
								</button>
								<span matPrefix>$&nbsp;</span>
							</mat-form-field>
							<mat-form-field>
								<input [(ngModel)]="product.rating" matInput placeholder="Rating" type="number" name="rating">
								<button mat-button *ngIf="product.rating" matSuffix mat-icon-button aria-label="Clear" (click)="product.rating=''">
									<mat-icon>close</mat-icon>
								</button>
							</mat-form-field>
							<mat-form-field class="skeleta-full-width">
								<input [(ngModel)]="product.imageUrl" matInput placeholder="Image Link" name="imageUrl" />
								<button mat-button *ngIf="product.imageUrl" matSuffix mat-icon-button aria-label="Clear" (click)="product.imageUrl=''">
									<mat-icon>close</mat-icon>
								</button>
							</mat-form-field>
							<mat-form-field class="skeleta-full-width">
								<input [(ngModel)]="product.description" matInput placeholder="Description" name="description" />
								<button mat-button *ngIf="product.description" matSuffix mat-icon-button aria-label="Clear" (click)="product.description=''">
									<mat-icon>close</mat-icon>
								</button>
							</mat-form-field>
						</mat-card-content>
						<button mat-raised-button type="submit" color="primary" [disabled]="!productForm.form.valid">
							<b>Create</b>
						</button>
						<button mat-raised-button (click)="back()">
							<b>Cancel</b>
						</button>
					</form>
				</mat-grid-tile>
			</mat-grid-list>
		</mat-card>
	</div>

</main>