<div class="panel panel-primary">
	<div class="panel-heading">
		{{pageTitle}}
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2">Filter by:</div>
			<div class="col-md-4">
				<input [(ngModel)]="listFilter" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h3>Filtered by: {{listFilter}}</h3>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table" *ngIf="products && products.length">
				<thead>
					<tr>
						<td>
							<button class="btn btn-primary"
									(click)="ToggleImage()">
								{{showImage ? 'Hide' : 'Show'}} Image
							</button>
						</td>
						<td>Product</td>
						<td>Description</td>
						<td>Price</td>
						<td>Rating</td>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let product of filteredProducts">
						<td>
							<img *ngIf="showImage"
								 [src]='product.imageUrl'
								 [title]="product.Name"
								 [style.width.px]="imageWidth"
								 [style.margin.px]="imageMargin">
						</td>
						<td>
							<a [routerLink]="['/productForm', product.id]">
								{{product.name}}
							</a>
						</td>
						<td>{{product.description}}</td>
						<td>{{product.price}}</td>
						<td>
							<sk-star [rating]="product.rating"
									 (ratingClicked)="onRatingClicked($event)">
							</sk-star>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>