<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - hello</title>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="sidebar">
        <img src="~/img/user1.jpg" alt="headshot" class="headshot" />
        <span id="userName">David</span>
        <ul class="menu">
            <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
            <li><a asp-controller="App" asp-action="About">About</a></li>
            <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
        </ul>
    </div>
    <div id="wrapper">
        <div id="main">
            <div>
                <button id="sidebarToggle">Toggle Menu</button>
            </div>
            @RenderBody()
        </div>
        <div id="footer">
            2017 capgemini hungary
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("scripts", false)
    <script src="~/js/site.js"></script>
</body>
</html>