@{
	ViewData["Title"] = "Home Page";
}

<skeleta-app>



	<div id="pre-bootstrap">
		<div class="messaging">
			<h1>
				App is Loading...
			</h1>
			<div class="cs-loader">
				<div class="cs-loader-inner">
					<label>&#9679</label>
					<label>&#9679</label>
					<label>&#9679</label>
					<label>&#9679</label>
					<label>&#9679</label>
					<label>&#9679</label>
				</div>
			</div>
			<p>
				Skeleta System - <span class="appName" style="font-style:italic">skeleta</span><span class="appName">App</span> &copy;
			</p>

		</div>
	</div>
</skeleta-app>
<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
	<script src="~/dist/main-client.js" asp-append-version="true"></script>
}
