@{
    ViewBag.Title = "Home Page";
}
<h1>World</h1>
<p>testing stuff</p>

<form>
    <div>
        <label>Date</label>
        <input />
    </div>
    <div>
        <label>Location</label>
        <input />
    </div>
    <div><input type="submit" value="Add" /></div>
</form>